@model List<DataKost>
@{
    Layout = "_LayoutAdmin";
}
<section class="py-5 text-center container">
    <div class="row py-lg-4">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="fw-light">🌸 Hai Admin Beautiful Sakura Residense 🌸</h1>
            <p class="lead text-muted">Selamat datang di panel admin Lily Kost. Di sini, Anda dapat mengelola data kost dengan mudah dan efisien. Terus semangat dalam memberikan pelayanan terbaik untuk penghuni kost!</p>
            <img src="~/Upload/photo_blossom kost.jpg" alt="Lily Kost Logo" class="img-fluid my-4" style="max-width: 200px; border-radius: 50%;">
        </div>
    </div>
</section>

<style>
    section {
        background: linear-gradient(90deg, rgba(255,105,180,0.1) 0%, rgba(255,182,193,0.1) 100%);
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-family: 'Brush Script MT', cursive;
        color: #ff69b4;
    }

    p.lead {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }

    .btn-primary {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-primary:hover {
            background-color: #ff69b4;
            border-color: #ff69b4;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }
</style>
