<section class="py-5 text-center container" style="background-color: #ffe6f0; color: #333; padding: 40px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="row py-lg-1">
        <div class="col-lg-8 mx-auto">
            <h1 class="fw-light">🌸🌸 Beautiful Sakura Residence 🌸🌸</h1>
            <p class="lead text-muted">
                Selamat datang di Beautiful Sakura Residence, tempat kos-kosan yang indah di Kota Semarang. Kami memanfaatkan teknologi untuk memudahkan pemesanan dan pembayaran. Saat ini, kami menawarkan lebih dari 50 kamar kos yang tersebar di 10 kecamatan. Kami juga menyediakan layanan manajemen properti, seperti Simetris21 dan Blue Eneergy, untuk pilihan kos eksklusif atau ekonomis sesuai kebutuhan Anda.
            </p>
            <p class="lead text-muted">
                Fasilitas di Beautiful Sakura Residence mirip dengan yang ada di kos-kosan umumnya, namun dengan sentuhan istimewa. Setiap kamar memiliki ukuran 3x5 meter persegi dengan tempat tidur single berukuran 200x90 cm, serta dilengkapi dengan bantal tidur dan guling. Tersedia juga almari, meja belajar, dan kamar mandi pribadi yang nyaman. Kami juga menjamin sirkulasi udara yang baik, akses WiFi, parkiran luas, dan dapur umum yang lengkap.
            </p>
            <p class="lead text-muted">
                Kami berkomitmen untuk memberikan informasi yang jelas dan akurat mengenai ketersediaan kamar, fasilitas, serta foto dan harga yang transparan. Dapatkan kenyamanan dalam proses pencarian dan pemesanan kos dengan fitur tur virtual kami.
            </p>
            <p class="lead text-muted">
                Jika Anda mencari kos-kosan yang nyaman dan terjangkau di Kota Semarang, Beautiful Sakura Residence adalah pilihan terbaik untuk menetap dengan damai dan bahagia.
            </p>
        </div>
    </div>
</section>
